<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
</head>
<body>
        <h3>welcome to geeks for geeks   </h3>

        <button type="submit"><a href="/signup">singup</a></button>
        <button type="submit"><a href="/singin">singin</a></button>
        <button type="submit"><a href="/signout">singout</a></button>
        
</body>
</html>